@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0e633;
  color: #363636;
  max-width: 2000px;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For Webkit browsers like Chrome */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.carousel .react-multi-carousel-dot button {
  background: #fe974d;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.carousel .react-multi-carousel-dot--active button {
  background: #ffd2b3;
  width: 20px;
  height: 8px;
  border-radius: 12px;
}
